.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 300px;
  width: 700px;
  padding: 0.5rem 1rem;
  gap: 6px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  gap: 11px;
}